@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/ParkingLot.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;   
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #9160ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font: 14px;
    color: #ffffff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #9b50e0;
    background-color: #9b50e0;
    transition: 1s;
}

nav .fa{
    display: none;
}

.feature{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #d5ddef;
    font-size: 14px;
    font-weight: 300;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.feature-col{
    flex-basis: 31%;
    background-color: #9b50e0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #d5ddef;
}

.feature-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.partner{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.partner-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.partner-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: #9b50e0;
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.membership{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.member-col{
    flex-basis: 45%;
    background-color: #9b50e0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.member-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer p{
    color: #000000;
}

.icons .fa .fa{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* about us */

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/about-us.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
    color: #000000;
}

.purple-btn{
    border: 1px solid #9b50e0;
    background: transparent;
    color: #9b50e0;
}

.purple-btn:hover{
    color: #ffffff;
}

/* ---- map ----- */

.search-box{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9160ff;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn{
    color: white;
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 30px;
}

.Location{
    margin: auto;
    width: 80%;
    padding: 115px 0 ;
    right: 500px;
}

/* ----membership---- */

.container{
    width: 100%;
    min-height: 50vh;
}

.container h2{
    color: #000;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}

.price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.price-col{
    background: #9160ff;
    padding: 10% 15%;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

.price-col p{
    font-size: 22px;
}

.price-col h3{
    font-size: 34px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #fff;
    list-style: none;
}

.price-col ul li{
    margin: 15px 0;
}

.price-col ul li::before{
    content: '\2022';
    color: #000;
    font-weight: bold;
    margin-right: 8px;
}

.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.price-col button:hover{
    background: #5f0486;
}

/* ----booking---- */

.headerParking {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/parking1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.headerParking h1{
    margin-top: 100px;
}

.booking{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.booking-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.booking-col img{
    width: 100%;
}

.booking-col h1{
    padding-top: 0;
}

.booking-col p{
    padding: 15px 0 25px;
    color: #000;
}

.book-btn{
    border: 1px solid #9160ff;
    background: transparent;
    color: #9160ff;
}

.book-btn:hover{
    color: #ffffff;
}

